<div ng-controller="MediaController">
	Maximum file Size: 3.0 MB<br>
	Supported file formats: png, jpg<br>
	<br>
	<input type="file" ng-click="showUploadButton=true;" file-model="myFile"/>
	<button class="btn btn-info" ng-disabled="!showUploadButton" ng-click="uploadFile(myFile);">Upload</button>
	<div ng-show="showUploadPicture">
		<img class="upload-image"  ng-src="{{uploadedMediaLink}}">
	</div>
	<div ng-show="showUploadErrorCode">
		<b>Woops, something went wrong!<br>Please try again</b><br>
		(HTTP Error Code:{{uploadErrorCode}})
	</div>
	<span loading-spinner="loading"></span>
</div>