<div class="form-group">
	<label for="push-author">Author</label><br>
	<input class="form-control" type="text" maxlength="45" size="40" name="push-author" ng-model="push.author" required>
</div>
<div class="form-group">
	<label for="push-title">Title</label><br>
	<input class="form-control" type="text" maxlength="45" size="40" name="push-title" ng-model="push.title" required>
</div>
<div class="form-group">
	<label for="push-text">Text</label><br>
	<input class="form-control" type="text" maxlength="120" size="40" name="push-text" ng-model="push.text" required>
</div>
