<div class="form-group">
	<label for="eventitem-name">Name</label><br>
	<input class="form-control" maxlength="60" type="text" size="40" name="eventitem-name" ng-model="eventitem.name" required>
</div>
<div class="form-group">
	<label for="eventitem-description">Description</label><br>
	<textarea rows="10" class="form-control" type="text" maxlength="350" size="40" name="eventitem-description" ng-model="eventitem.description" required>
	</textarea>
	<br>
</div>
<div class="form-group">
	<label for="eventitem-startTime">From</label><br>
	<input class="form-control" pattern="(([0-1][0-9])|([2][0-3])):([0-5][0-9])" placeholder="HH:MM" type="text" size="40" name="eventitem-startTime" ng-model="eventitem.startTime" required>
</div>
<div class="form-group">
	<label for="eventitem-endTime">To</label><br>
	<input class="form-control" pattern="(([0-1][0-9])|([2][0-3])):([0-5][0-9])" placeholder="HH:MM" type="text" size="40" name="eventitem-endTime" ng-model="eventitem.endTime" required>
</div>
<div class="form-group">
	<label for="eventitem-date">Date</label><br>
	<date-picker date="eventitem.date">
	</date-picker>
</div>
<div class="form-group" ng-controller="EventRoomListController as eventRoomListCtrl">
	<label for="event-room-eventIDFK">In Event Room</label><br>
	<select  style="width: 350px" ng-model="eventitem.roomIDFK" ng-options="eventroom.eventRoomID as eventroom.name for eventroom in eventRoomListCtrl.eventrooms">
	</select>
</div>
<div class="form-group" ng-controller="SpeakerListController as speakerListCtrl">
	<label for="event-room-eventIDFK">By Speaker</label><br>
	<select  style="width: 350px" ng-model="eventitem.speakerIDFK" ng-options="speaker.speakerID as speaker.name for speaker in speakerListCtrl.speakers">
	</select>
</div>