<div ng-hide="edit">
	<event-item-info eventitem="eventItemIdCtrl.eventitem"></event-item-info><br>
</div>

<div ng-show="edit">
	<div class="col-md-6 col-xs-12">
		<form name="eventItemInfoEditForm" novalidate>
			<event-item-info-edit eventitem="eventItemIdCtrl.eventitem"></event-item-info-edit>
		</form>
		<button class="btn btn-danger" ng-click="eventItemIdCtrl.deleteEventItem(eventItemIdCtrl.eventitem.eventItemID,'eventitem'); eventItemIdCtrl.redirToList();">Delete this Event Item</button>
		<button class="btn btn-success" ng-disabled="!eventItemInfoEditForm.$valid" ng-click="edit=!edit ;eventItemIdCtrl.putEventItem(eventItemIdCtrl.eventitem,eventItemIdCtrl.eventitem.eventItemID,'eventitem');">Submit</button>
	</div>
</div>


<edit-button edit="edit"></edit-button>

