<div class="form-group">
	<label for="news-author">Author:</label><br>
	<input class="form-control" type="text" maxlength="25" size="40" name="news-author" placeholder="Author Name" ng-model="news.author" required><br>
</div>
<div class="form-group">
	<label for="news-title">Title:</label><br>
	<input class="form-control" type="text" maxlength="80" size="40" name="news-title" placeholder="Title" ng-model="news.title" required><br>
</div>
<div class="form-group">
	<label for="news-text">Text:</label><br>
	<textarea  class="form-control" type="text" rows="7" maxlength="360" size="40" name="news-text" placeholder="Text" ng-model="news.text" required>
	</textarea>
	<br>
</div>