.content {
	background:#000 url(../img/bg.png) repeat-x;
	margin-top:0px;
	color:white;
	position: absolute;
	left: 0;
	right: 0;
	top: 90px;
	bottom: 0;
	padding-top:15px;
}

.btn-dropdown-navbar{
	padding-bottom:15px;
	padding-right: 6px;
	padding-left: 6px;
}



.slider-image{
  max-height:50%;
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}

.speaker-image{
    max-width: 80px;
    width: 100%;
    height: auto;
}


.social-image{
    max-width: 100px;
    width: 100%;
    height: auto;
}


.qrcode-image{
    max-width: 50px;
    width: 100%;
    height: auto;
}

.navbar-logo{
	margin-top: -10px;
	max-height: 50px;
}

.upload-image{
    max-width: 140px;
    width: 100%;
    height: auto;
}

.ng-invalid.ng-dirty {
	border-color: #FA787E;
	border-width: 3px;
}


.ng-valid.ng-dirty {
	border-color: #78FA89;
	border-width: 3px;
}
