.speaker-image{
    max-width: 80px;
    width: 100%;
    height: auto;
}

.ng-invalid.ng-dirty {
	border-color: #FA787E;
	border-width: 3px;
}


.ng-valid.ng-dirty {
	border-color: #78FA89;
	border-width: 3px;
}
