<label>Search for Social Item: <input ng-model="search"></label><hr>
<h1>Pending:</h1>
<span ng-repeat="social in socialListCtrl.socialsPending | filter:search:strict">
	<social-info social="social"></social-info>
	<button ng-click="socialListCtrl.setAccepted(social);" class="btn btn-success">Accept</button>
	<button ng-click="socialListCtrl.setRejected(social);" class="btn btn-danger">Reject</button>
	<hr>
</span>
<nothing-here-yet list="socialListCtrl.socialsPending"></nothing-here-yet>
<br><br>
<h1>Accepted:</h1>
<span ng-repeat="social in socialListCtrl.socialsAccepted | filter:search:strict">
	<social-info social="social"></social-info>
	<button ng-click="socialListCtrl.setPending(social);" class="btn btn-danger">Send to pending</button>
	<hr>
</span>
<nothing-here-yet list="socialListCtrl.socialsAccepted"></nothing-here-yet>
<br><br>
<h1>Rejected:</h1>
<span ng-repeat="social in socialListCtrl.socialsRejected | filter:search:strict">
	<social-info social="social"></social-info>
	<button ng-click="socialListCtrl.setPending(social);" class="btn btn-warning">Reactive (Pending)</button>
	<hr>
</span>
<nothing-here-yet list="socialListCtrl.socialsRejected"></nothing-here-yet>
