<div ng-hide="edit">
	<qrcode-info qrcode="qrcodeIdCtrl.qrcode"></qrcode-info><br>
</div>

<div ng-show="edit">
	<div class="col-md-6 col-xs-12">
		<form name="qrcodeInfoEditForm" novalidate>
			<qrcode-info-edit qrcode="qrcodeIdCtrl.qrcode"></qrcode-info-edit>
		</form>
		<button class="btn btn-success" ng-disabled="!qrcodeInfoEditForm.$valid" ng-click="edit=!edit ;qrcodeIdCtrl.putQrcode(qrcodeIdCtrl.qrcode,qrcodeIdCtrl.qrcode.qrcodeID,'qrcode');">Submit</button>
	</div>
</div>


<edit-button edit="edit"></edit-button>

