<div class="form-group">
	<label for="eventitem-name">Name</label><br>
	<input type="text" size="40" name="eventitem-name" ng-model="eventitem.name" required>
</div>
<div class="form-group">
	<label for="eventitem-description">Description</label><br>
	<input type="text" size="40" name="eventitem-description" ng-model="eventitem.description" required>
</div>
<div class="form-group">
	<label for="eventitem-startTime">From</label><br>
	<input type="text" size="40" name="eventitem-startTime" ng-model="eventitem.startTime" required>
</div>
<div class="form-group">
	<label for="eventitem-endTime">To</label><br>
	<input type="text" size="40" name="eventitem-endTime" ng-model="eventitem.endTime" required>
</div>
<div class="form-group">
	<label for="eventitem-date">Date</label><br>
	<input type="text" size="40" name="eventitem-date" ng-model="eventitem.date" required>
</div>
