<div ng-hide="edit">
	<div class="col-xs-4">
		<voting-info voting="votingIdCtrl.voting"></voting-info><br>
		<edit-button edit="edit"></edit-button>
		<span ng-show="votingIdCtrl.voting.status=='voting_end'">
			<a ui-sref="event.active.voting.stats({eventId: votingIdCtrl.voting.eventIDFK, votingId: votingIdCtrl.voting.votingID})">
				<button class="btn btn-info">
					Show Voting Statistics
				</button>
			</a>
		</span>
	</div>
	<div class="col-xs-4">
		<h4>Sliders:</h4>
		<span ng-repeat="slider in votingIdCtrl.sliders">
			<slider-info slider="slider"></slider-info><br>
		</span>
	</div>
</div>

<div ng-show="edit">
	<div class="col-xs-4">
		<form name="votingInfoEditForm" novalidate>
			<voting-info-edit voting="votingIdCtrl.voting"></voting-info-edit>
		</form>
		<button class="btn btn-success" ng-disabled="!votingInfoEditForm.$valid" ng-click="edit=!edit ;votingIdCtrl.putVoting(votingIdCtrl.voting,votingIdCtrl.voting.votingID,'voting');">Submit</button>
	</div>
</div>