<div class="form-group">
	<label for="voting-name">Name</label><br>
	<input class="form-control" type="text" size="40" name="voting-name" ng-model="voting.name" required>
</div>

<div class="form-group">
	<label for="voting-votingDuration">Voting Duration</label><br>
	<input class="form-control" type="text" size="40" name="voting-votingDuration" ng-model="voting.votingDuration" required>
</div>

<div class="form-group">
	<label for="voting-juryCount">Jury Member Count</label><br>
	<input class="form-control" ng-model="voting.juryCount" name="voting-juryCount" type="number" value="1" min="1" max="30" required>
</div>

<div class="form-group">
	<label for="voting-duration">Presentation Min Time</label><br>
	<input class="form-control" type="text" pattern="(([0-1][0-9])|([2][0-3])):([0-5][0-9]):([0-5][0-9])" placeholder="HH:MM:SS" size="40" name="voting-presentation-min-time" ng-model="voting.presentationMinTime" required>
</div>

<div class="form-group">
	<label for="voting-duration">Presentation Max Time</label><br>
	<input class="form-control" type="text" pattern="(([0-1][0-9])|([2][0-3])):([0-5][0-9]):([0-5][0-9])" placeholder="HH:MM:SS" size="40" name="voting-presentation-max-time" ng-model="voting.presentationMaxTime" required>
</div>

<div ng-show="votingSettingsMode == 'voting-default'">
	<br>
	Rating Mode: Arithmetic<br>
	Slider Max Value: 10<br>
</div>
<div ng-show="votingSettingsMode == 'voting-custom'">
	<div class="form-group">
		<h4>Rating Mode</h4>
		<input type="radio" id="vc" name="voting-rating-mode" ng-model="voting.arithmeticMode" value="arithmetic" checked>
		<label for="arithmetic">Arithmetic</label><br> 
		<input type="radio" id="vd" name="voting-rating-mode" ng-model="voting.arithmeticMode" value="median">
		<label for="median">Median</label><br> 
	</div>
	<br>
	<div class="form-group">
		<label for="voting-sliderMaxValue">Slider Max Value</label><br>
		<input type="number" name="voting-sliderMaxCount" ng-model="voting.sliderMaxValue" min="1" max="30" value="10">
	</div>
</div>
<hr>
<input type="radio" id="vd" name="voting-settings-mode" ng-change="ctrl.resetDefault()" ng-model="votingSettingsMode" ng-true-value="voting-default" value="voting-default" checked>
<label for="vd">Use default Voting settings</label><br> 
<input type="radio" id="vc" name="voting-settings-mode" ng-model="votingSettingsMode"  ng-true-value="voting-custom"  value="voting-custom">
<label for="vc">Use custom Voting settings</label><br> 

