<label>Search for Voting: <input ng-model="search"></label><hr>


<h1>Upcoming Votings</h1>
<span ng-repeat="voting in votingListCtrl.votingsUpcomingPrePresentation  | filter:search:strict">
	<voting-info voting="voting"></voting-info><br>
	<button ng-click="votingListCtrl.startPresentation(voting);" class="btn btn-info">Start Presentation</button>
	<br><br>
</span>
<span ng-repeat="voting in votingListCtrl.votingsUpcomingPresentation  | filter:search:strict">
	<voting-info voting="voting"></voting-info><br>
	<span ng-hide="voting.ispaused">
		<button ng-click="votingListCtrl.endPresentation(voting);" class="btn btn-warning">End Presentation</button>
	</span>
	<span ng-show="voting.ispaused">
		<button ng-click="votingListCtrl.resumePresentation(voting);" class="btn btn-default">Resume Presentation</button>
	</span>
	<span ng-hide="voting.ispaused">
		<button ng-click="votingListCtrl.pausePresentation(voting);" class="btn btn-default">Pause Presentation</button>
	</span>
	<br><br>
</span>
<span ng-repeat="voting in votingListCtrl.votingsUpcomingEndPresentation  | filter:search:strict">
	<voting-info voting="voting"></voting-info><br>
	<button ng-click="votingListCtrl.startVoting(voting);" class="btn btn-success">Start Voting</button>
</span> 
<span ng-show="(votingListCtrl.votingsUpcomingPrePresentation.length==0)&&(votingListCtrl.votingsUpcomingPresentation==0)&&(votingListCtrl.votingsUpcomingEndPresentation.length==0)">Nothing here yet</span>
<br><br>


<h1>Running Votings</h1>
<span ng-repeat="voting in votingListCtrl.votingsRunning  | filter:search:strict">
	<voting-info voting="voting"></voting-info><br>
	Jury Vote Count: <span class="label label-success">{{voting.votesJuryCount}}/{{voting.juryCount}}</span><br>
	Audience Vote Count: <span class="label label-info">{{voting.votesAudienceCount}}</span><br>
	<span ng-show="voting.audiencevotingover">
		Public Voting : <span class="label label-warning">Over</span>
	</span>
	<span ng-hide="voting.audiencevotingover">
		Public Voting : <span class="label label-success">Running</span>
	</span>
	<br><br>
	<button ng-click="votingListCtrl.stopVoting(voting);" class="btn btn-danger">Stop Voting</button>
	<br><br>
</span>
<nothing-here-yet list="votingListCtrl.votingsRunning"></nothing-here-yet>
<br><br>


<h1>Finished Votings</h1>
<span ng-repeat="voting in votingListCtrl.votingsFinished  | filter:search:strict">
	<voting-info voting="voting"></voting-info><br>
	<br><br>
</span>
<nothing-here-yet list="votingListCtrl.votingsFinished"></nothing-here-yet>
<br><br>
