<div class="col-md-6 col-xs-6">
	<form name="votingInfoNewForm" novalidate>
		<voting-info-edit-new ctrl="votingNewCtrl" votingsettingsmode="votingNewCtrl.votingSettingsMode" voting="votingNewCtrl.voting"></voting-info-edit-new>
		<br><br><br>
	</form>
	<button class="btn btn-success" ng-disabled="!votingInfoNewForm.$valid" ng-click="votingNewCtrl.postAndRedir();">Submit</button>
</div>
<div class="col-md-6 col-xs-6">
	<div ng-show="votingNewCtrl.votingSettingsMode == 'voting-custom'">
		<div ng-repeat="slider in votingNewCtrl.sliders">
			<slider-info-edit slider="slider">
			</slider-info-edit>
			<button class="btn btn-danger" ng-click="votingNewCtrl.removeSlider(slider.internalID)">
				Remove this Slider
			</button>
			<br><br>
		</div>
		<br>
		<button class="btn btn-info" ng-click="votingNewCtrl.addNewSlider()">
			Add another Slider
		</button>
	</div>
	<div ng-show="votingNewCtrl.votingSettingsMode == 'voting-default'">
		<h4>Sliders:</h4>
		<div ng-repeat="slider in votingNewCtrl.sliders">
			<slider-info slider="slider"></slider-info><br>
		</div>
	</div>
</div>
