<div class="form-group">
	<label for="voting-name">Name</label><br>
	<input class="form-control" type="text" size="40" name="voting-name" ng-model="voting.name" required>
</div>

<div class="form-group">
	<label for="voting-status">Status</label><br>
	<input class="form-control" type="text" size="40" name="voting-status" ng-model="voting.status" required>
</div>

<div class="form-group">
	<label for="voting-round">Round</label><br>
	<input class="form-control" type="text" size="40" name="voting-round" ng-model="voting.round" required>
</div>

<div class="form-group">
	<label for="voting-votingDuration">Voting Duration</label><br>
	<input class="form-control" type="text" size="40" name="voting-votingDuration" ng-model="voting.votingDuration" required>
</div>

<div class="form-group">
	<label for="voting-votingStarted">Voting Started</label><br>
	<input class="form-control" type="text" size="40" name="voting-votingStarted" ng-model="voting.votingStarted" required>
</div>

<div class="form-group">
	<label for="voting-juryCount">Jury Count</label><br>
	<input class="form-control" type="text" size="40" name="voting-juryCount" ng-model="voting.juryCount" required>
</div>

-- slider max value <br>
-- arithmetic mode <br>