<table class="table usertable">
    <tr>
        <td><h3>Details for {{user.title}}</h3></td>
        <td></td>
    </tr>
    <tr>
        <td>Movie Title</td>
        <td>{{user.title}}</td>
    </tr>
    <tr>
        <td>Director</td>
        <td>{{user.director}}</td>
    </tr>
    <tr>
        <td>Release Year</td>
        <td>{{user.releaseYear}}</td>
    </tr>
    <tr>
        <td>Movie Genre</td>
        <td>{{user.genre}}</td>
    </tr>
</table>
<div>
    <a class="btn btn-primary" ui-sref="editMovie({id:user._id})">Edit</a>
</div>