<div>
	<a ui-sref="event.id({ eventId: event.eventID})">
		<button class="btn btn-primary">
			Properties of ID: {{event.eventID}}
		</button>
	</a>
	<br>
	<b>Name:</b> {{event.name}}<br>
	<b>Description:</b> <auto-short-field threshold=100 field="event.description"></auto-short-field><br>
	<b>From:</b> {{event.startDate}} - <b>To:</b> {{event.endDate}} <br>
	<b>Active:</b> {{event.active}}<br>
	<br>
	<a ui-sref="event.active.overview({eventId: event.eventID})">
		<button class="btn btn-default">
			Manage me ..
		</button>
	</a>
</div>
