<div class="form-group">
	<label for="event-name">Name</label><br>
	<input class="form-control" type="text" size="40" maxlength="60" name="event-name" ng-model="event.name" required>
</div>
<div class="form-group">
	<label for="event-description">Description</label><br>
	<textarea rows="10" class="form-control" type="text" size="40" maxlength="1000" name="event-description" ng-model="event.description" required>
	</textarea>
</div>
<br>
<div class="form-group">
	<label for="event-startDate">From</label><br>
	<date-picker date="event.startDate">
	</date-picker>
</div>
<div class="form-group">
	<label for="event-startDate">To</label><br>
	<date-picker date="event.endDate">
	</date-picker>
</div>
<div class="form-group">
	<label for="event-active">Active (Unlocks in HLM)</label><br> 
	<input type="checkbox" name= "event-active" ng-model="event.active">
</div>
<span ng-show="!toggle">
	<span ng-show="event.media">
		Img: 
		<a ng-href="{{event.media}}">
			<img class="speaker-image" ng-src="{{event.media+'_thumb'}}" err-src="{{'./img/empty.png'}}"/><br>
		</a>
	</span>
	<button class="btn btn-default" ng-hide="hidechangeimage" ng-click="toggle=!toggle">Change Image</button>
</span>
<span ng-show="toggle">
	<media-upload></media-upload>		
</span >