<div class="col-md-6 col-xs-12">
	<form name="eventInfoNewForm" novalidate>
		<div class="form-group">
			<label for="eventid">ID - Set the same ID as hacking-lab.com </label><br>
			<input class="form-control" pattern="\d*" type="text" size="40" maxlength="60" name="eventid" ng-model="eventNewCtrl.event.eventID" required>
			<span style="color:red;" ng-if="eventNewCtrl.isTaken(event.eventID)">
				ID already taken, double check your input please
			</span>
		</div>
		<event-info-edit event="eventNewCtrl.event"></event-info-edit>
		<br><br>
	</form>
	<button class="btn btn-success" ng-disabled="!eventInfoNewForm.$valid" ng-click="eventNewCtrl.postAndRedir();">Submit</button>
</div>

