<div>
	<a ui-sref="speaker.id({speakerId: speaker.speakerID})">
		ID: {{speaker.speakerID}}
	</a><br>
	Name: {{speaker.name}}<br>
	Title: {{speaker.title}}<br>
	Nationality: {{speaker.nationality}} <img  ng-src="{{ './img/flags/flag_'+(speaker.nationality | lowercase)+'.png'}}" err-src="{{'./img/flags/flag_invalid.png'}}"/><br>
	Img: <a ng-href="{{speaker.media}}">
		<img class="speaker-image" ng-src="{{speaker.media+'_thumb'}}" err-src="{{'./img/speaker_default.png'}}"/><br>
	</a>
	Description: {{speaker.description}}
</div>