<div>
	<a ui-sref="speaker.id({speakerId: speaker.speakerID})">
		<button class="btn btn-primary">
			ID: {{speaker.speakerID}}
		</button>
	</a><br>
	<b>Name:</b> {{speaker.name}}<br>
	<b>Title:</b> {{speaker.title}}<br>
	<b>Nationality:</b> {{speaker.nationality}} <img  ng-src="{{ './img/flags/flag_'+(speaker.nationality | lowercase)+'.png'}}" err-src="{{'./img/flags/flag_invalid.png'}}"/><br>
	<b>Biography:</b> <auto-short-field threshold=100 field="speaker.description"></auto-short-field><br>
	<b>Img:</b> <a ng-href="{{speaker.media}}">
		<img class="speaker-image" ng-src="{{speaker.media+'_thumb'}}" err-src="{{'./img/speaker_default.png'}}"/><br>
	</a>
</div>