<div class="form-group">
	<label for="speaker-name">Name</label><br>
	<input class="form-control" type="text" maxlength="60" name="speaker-name" placeholder="Name, Sirname" ng-model="speaker.name" required><br>
</div>
<div class="form-group">
	<label for="speaker-title">Title</label><br>
	<input class="form-control" type="text" maxlength="25" name="speaker-title" placeholder="Title" ng-model="speaker.title"><br>
</div>
<div class="form-group">
	<label for="speaker-nationality">Nationality</label><br>
	<speaker-countries-option nationality="speaker.nationality"></speaker-countries-option>
	<img class="speaker-image" ng-src="{{'./img/flags/flag_'+(speaker.nationality | lowercase ) +'.png' }}" err-src="{{'./img/flags/flag_invalid.png'}}"/><br>
</div>
<div class="form-group">
	<label for="speaker-title">Biography</label><br>
	<textarea  class="form-control" type="text" cols="40" rows="5" maxlength="240" name="speaker-description" placeholder="Biography" ng-model="speaker.description" required></textarea>
</div>
<br>
 
<span ng-show="!toggle">
	Img: <a ng-href="{{speaker.media}}">
		<img class="speaker-image" ng-src="{{speaker.media+'_thumb'}}" err-src="{{'./img/speaker_default.png'}}"/><br>
	</a>
	<button class="btn btn-default" ng-click="toggle=!toggle">Change Image</button>
</span >
<span ng-show="toggle">
	<media-upload></media-upload>		
</span >



<br><br>